*.retry
vault*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Log - Dateien
*.log

#Text Dateien
*.txt
!requirements.txt
#ToDo Dateien sollen auf alle Fälle
![Tt][Oo][Tt][Oo]*

#Dateien mit sensiblen Daten beginnen mit secret
secret*

#vscode- Dateien
.vscode/
*.zip
*.docx
*.pdf
*.odt
*.csv
!.gitignore 


